@import '~@angular/material/theming';
@import 'theme.scss';

$primary: mat-color($app-theme-primary);
$accent: mat-color($app-theme-accent);
$warn: mat-color($app-theme-warn);

$dark: #202328;
$white: #FAFAFA;
$yellow: #F8D80B;
$gray: #9F9F9F;
