<div fxLayout="row wrap">
  <app-movie-card fxFlex="20" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25"></app-movie-card>
  <app-movie-card fxFlex="20" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25"></app-movie-card>
  <app-movie-card fxFlex="20" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25"></app-movie-card>
  <app-movie-card fxFlex="20" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25"></app-movie-card>
  <app-movie-card fxFlex="20" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25"></app-movie-card>
  <app-movie-card fxFlex="20" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25"></app-movie-card>
  <app-movie-card fxFlex="20" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25"></app-movie-card>
</div>